.card {
  border: 1px solid #000000;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  text-wrap: wrap;
}

.newsCategory {
  font-size: 0.875rem;
  color: #9d0d0d;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.card:hover {
  transform: translateY(-2px);
}

.breaking {
  width: 100%;
  
}

.normal {
  width: wrap-content;
  max-width: 300px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.headline {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.shortDescription {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.meta {
  font-size: 0.875rem;
  color: #777;
  margin-top: auto;
}

.categoryLabel {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.sportColor {
  color: #e0f7fa;
  background-color: #229c91;
}

.localColor {
  color: #fff3e0;
  background-color: #60d532;
}

.worldwideColor {
  color: #fce4ec;
  background-color: #120b0e;
}
.economyColor {
  color: #e8f5e9;
  background-color: #85a015;
}
.entertainmentColor {
  color: #f3e5f5;
  background-color: #9c27b0;
}
.weatherColor {
  color: #e3f2fd;
  background-color: #2196f3;
}

.defaultColor {
  color: #e0e0e0;
  background-color: #424242;
}
