.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  margin: 0.5rem;
  justify-content: center;}
.categories-container > a:nth-child(3n+1) > div {
  height: 120%;
  margin-bottom: 30%;
}
.news-grid {
  gap: 2rem;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.category-section h3 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  height: fit-content;
  width: 100%;
}

.category-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.category-posts {
  display: grid;
  align-content: start; 
  gap: 1rem;
  margin: 2rem;
  text-wrap: wrap;
  }

